* {
    margin: 0px;
    padding: 0px;
    font-size: 34px;
    /* background-color:yellow; */
}

h1{
    margin: 30px 15px 10px;
}
h2{
    margin: 15px;
}

select {
    width: 200px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table thead th {
    font-weight: bold;
}

.log_out{
position: absolute;
right: 20px;
top: 20px;
}
.home{
    position: absolute;
    right: 220px;
    top: 20px;
}

input{
    /* float: left; */
    font-size: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
label{
    width: 660px;
    display: block;  
    margin: 10px 0px 15px;
}
.wrapper{
    width: 760px;
}