<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        {% load index %}
        {% load get_item %}
        {% load define %}
        <link rel="stylesheet" href="/static/login_registration_app/css/style.css">
        <title>Login and Registration</title>
    </head>
    <body>    
        <h1>Welcome!</h1>
        <fieldset class = "wrapper">
            <legend> Register </legend>
            <form action="/main/registration_validator" method="POST">
                {% csrf_token %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <label for="first_name">Name: <input type="text" name='first_name' id="first_name"></label>
                <label for="username">Username: <input type="text" name='username' id="username"></label>
                <label for="email">Email: <input type="email" name='email' id="email"></label>
                <label for="password">Password: <input type="password" name='password'id="password"> </label>
                <p>*Password should be at least 8 characters</p>
                <label for="password_confirm">Confirm PW: <input type="password" name='password_confirm'id="password_confirm"></label>
                <label for="date_hired">Date Hired: <input type="date" name = "date_hired"></label>
                <input type="submit" value="Register">
            </form> 
        </fieldset>
        <fieldset class = "wrapper">
            <legend> Login </legend>
            <form action="/main/login_validator" method="POST">
                {% csrf_token %}
                <label for="username">Username: <input type="text" name='username' id="username"></label>
                <label for="password">Password: <input type="password" name='password'id="password"></label>
                <input type="submit" value="Login">
            </form>
        </fieldset>
    </body>
</html>
