<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        {% load index %}
        {% load get_item %}
        {% load define %}
<!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="/static/users_app/css/style.css">

<!--        <link rel="stylesheet" href="{% static 'login_registration_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8"> -->
<!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'scripts/scripts.js' %}"></script>
        <title>login_registration_app</title>
    </head>
    <body>    
        <h1>Create a New Wish List Item</h1>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        <a class = "log_out" href="/clear">Log out</a>
        <br>
        <a class="home" href="/wish_items">Home</a>
        <br>
        <div class="wrapper">
            <form action="/wish_items/create_item" method="POST">
                {% csrf_token %}
                <label for=""> Item/Product: <input type="text" name = "name"> </label> 
                <input type="submit" value = "Add">
            </form>
        </div>

        

    </body>
</html>
